<!DOCTYPE html>
<html>

<head>
    <title>First vue.js web</title>
    <link rel="icon" href="data:,">
    <script src="./vue.js"></script>
</head>

<body>
    <div id="app">
        <p>{{ message }}</p>
    </div>

    <div id="app-2">
        <span v-bind:title="message">
            <h5>鼠标悬停几秒钟查看此处动态绑定的提示信息！</h5>
        </span>
    </div>

    <div id="app-3">
        <p v-if="seen">现在你看到我了</p>
    </div>

    <div id="app-4">
        <p>--🍪app4--</p>
        <ol>
            <li v-for="todo in todos">
                {{ todo.text }}
            </li>
        </ol>
        <ol>
            <p>组件🎈</p>
            <todo-item v-for="item in todos" v-bind:todo="item" v-bind:key="item.id"> </todo-item>
        </ol>
        <p>{{ str }}</p>
        <p>{{ arr[0] }}</p>
        <p>{{ obj?.name }}</p>
        <p>--🍪app4 end--</p>
    </div>

    <div id="app-5">
        <p>{{ message }}</p>
        <button v-on:click="reverseMessage">逆转消息</button>
    </div>

    <div id="app-6">
        <p>{{ message }}</p>
        <input v-model="message" />
    </div>

    <div id="app-7">
        <ol>
            <todo-item v-for="item in groceryList" v-bind:todo="item" v-bind:key="item.id"> </todo-item>
        </ol>
    </div>

    <script src="001.js"></script>
</body>

</html>